__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyCharm project settings
.idea/

# Virtual environments
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# macOS / Windows hidden files
.DS_Store
Thumbs.db

# Test coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
.cache

# pytest cache
.pytest_cache/

# Logs
*.log